/*
 * Project: CharterBus
 * File: Main styles
 */

// ==========================================================================
// _VARIABLES
// ==========================================================================
@min-width: 320px;
@md-width: 768px;
@xl-width: 1200px;

@xxs: ~"(min-width: 375px)";
@xs: ~"(min-width: 400px)";
@sm: ~"(min-width: 568px)";
@md: ~"(min-width: 768px)";
@lg: ~"(min-width: 1024px)";
@xl: ~"(min-width: 1280px)";

@font-family: 'Open Sans', Arial, sans-serif;

@color-white: #fff;
@color-font: #444;
@color-black: #000;
@color-red: #f01f2b;
@color-red-dark: #bb0e1a;
@color-orange: #eda940;
@color-orange-pastel: #f3b04c;
@color-gold: #bd8532;
@color-mustard: #f3c14d;
@color-mustard-shade1: #eda73e;
@color-mustard-shade2: #f0ad47;
@color-brown: #86564a;
@color-brown-dark: #59342a;
@color-chocolate: #a05f50;
@color-chocolate-shade1: #7d4d42;
@color-chocolate-shade2: #7a4c40;
@color-gray-medium: #d7d7d7;
@color-gray-light: #ededed;
@color-white-smoke: #f5f5f5;
@color-white-smoke-shade1: #ebebeb;
@color-white-smoke-shade2: #e9e9e9;
@color-white-smoke-shade3: #f1f1f1;
@color-platinum: #eaeaea;

@duration: .2s ease;
@duration-menu: .4s ease;

@margin-md: 22px;
@margin-lg: 27px;

@images: '../img';
// ==========================================================================
// _FONTS
// ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
// ==========================================================================
// _MIXINS
// ========================================================================== */
// COLORS
.color-white(@opacity) { @color: rgba(255, 255, 255, @opacity); }
.color-black(@opacity) { @color: rgba(0, 0, 0, @opacity); }
.color-brown(@opacity) { @color: rgba(135, 87, 74, @opacity); }
.color-font(@opacity) { @color: rgba(68, 68, 68, @opacity); }
// ROTATE
.rotate(@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
  -webkit-backface-visibility: hidden;
}
// GRADIENT
.gradient-y (@startColor, @endColor) {
  background-color: @startColor;
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
  background: linear-gradient(to bottom, @startColor, @endColor);
}
.gradient-x3 (@startColor, @centerColor, @endColor) {
  background-color: @startColor;
  background: -webkit-linear-gradient(left, @startColor, @centerColor, @endColor);
  background: -moz-linear-gradient(left, @startColor, @centerColor, @endColor);
  background: -ms-linear-gradient(left, @startColor, @centerColor, @endColor);
  background: -o-linear-gradient(left, @startColor, @centerColor, @endColor);
  background: linear-gradient(to right, @startColor, @centerColor, @endColor);
}
.translate-3d(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
  -moz-transform: translate3d(@x, @y, @z);
  -ms-transform: translate3d(@x, @y, @z);
  -o-transform: translate3d(@x, @y, @z);
  transform: translate3d(@x, @y, @z);
}
.transition-translate(@duration-menu) {
  -webkit-transition: -webkit-transform @duration;
  -moz-transition: -moz-transform @duration-menu;
  -ms-transition: -ms-transform @duration-menu;
  -o-transition: -o-transform @duration-menu;
  transition: transform @duration-menu;
}
// SCALE
.scale(@rate) {
  -webkit-transform: scale(@rate);
  -moz-transform: scale(@rate);
  -ms-transform: scale(@rate);
  -o-transform: scale(@rate);
  transform: scale(@rate);
}
// SKEW
.skew(@a,@b) {
  transform: skew(@a, @b);
  -webkit-transform: skew(@a, @b);
  -moz-transform: skew(@a, @b);
  -o-transform: skew(@a, @b);
  -ms-transform: skew(@a, @b);
}
// TRANSITION TRANSLATE OPACITY
.transition-translate-opacity(@duration) {
  -webkit-transition: -webkit-transform @duration, opacity @duration;
  -moz-transition: -moz-transform @duration, opacity @duration;
  -ms-transition: -ms-transform @duration, opacity @duration;
  -o-transition: -o-transform @duration, opacity @duration;
  transition: transform @duration, opacity @duration;
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 300 16px/22px @font-family;
  color: @color-font;
  background: @color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: @min-width;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  background: @color-white;
}
@media @xl {
  html {
    font-size: 18px;
    line-height: 27px;
  }
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 @margin-md;
}
:focus { outline: -webkit-focus-ring-color auto 0; }
a {
  color: @color-brown;
  outline: none;
  text-decoration: none;
  transition: color @duration;

  &:hover, &:focus {
    outline: none;
    text-decoration: underline;
  }
}
audio, canvas, img, video { vertical-align: middle; }
.h-default {
  margin: 0;
  line-height: normal;
  font-weight: 300;
  text-align: center;
}
.h1 {
  &:extend(.h-default);
  margin: @margin-md 0 @margin-md;
  font-size: 34px;
  font-style: normal;
}
.h2 {
  &:extend(.h-default);
  margin: @margin-md 0 @margin-md;
  font-size: 30px;
  font-style: normal;
}
.h3 {
  &:extend(.h-default);
  margin: @margin-md 0 @margin-md;
  font-size: 30px;
  font-style: normal;
}
.h4 {
  &:extend(.h-default);
  margin: @margin-md 0 @margin-md;
  font-size: 26px;
  font-style: normal;
}
.h5 {
  &:extend(.h-default);
  margin: @margin-md 0 @margin-md;
  font-size: 22px;
  font-style: normal;
}
.h6 {
  &:extend(.h-default);
  margin: @margin-md 0 @margin-md;
  font-size: 18px;
  font-style: normal;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  &.h-brown { color: @color-brown; }
  &.h-normal { font-weight: normal; }
}
h1 {&:extend(.h1); }
h2 {&:extend(.h2); }
h3 {&:extend(.h3); }
h4 {&:extend(.h4); }
h5 {&:extend(.h5); }
h6 {&:extend(.h6); }
@media @md {
  .h1 { font-size: 42px; }
  .h2 { font-size: 37px; }
  .h3 { font-size: 37px; }
  .h4 { font-size: 32px; }
  .h5 { font-size: 27px; }
  .h6 { font-size: 25px; }
}
@media @xl {
  .h-default {
    text-align: left;
  }
  .h1 { font-size: 56px; margin: @margin-lg 0 @margin-lg; }
  .h2 { font-size: 49px; margin: @margin-lg 0 @margin-lg; }
  .h3 { font-size: 40px; margin: @margin-lg 0 @margin-lg; }
  .h4 { font-size: 35px; margin: @margin-lg 0 @margin-lg; }
  .h5 { font-size: 30px; margin: @margin-lg 0 @margin-lg; }
  .h6 { font-size: 27px; margin: @margin-lg 0 @margin-lg; }
}
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix { display: table; content: '\0020'; clear: both; }
.before { display: block; content: '\0020'; overflow: hidden; }
.hidden { display: none; }
.mobile-hidden {
  display: none;
  @media @xl {
    display: block;
  }
}
.text-center { text-align: center; }
figure {
  margin: 0;
  img { max-width: 100%; }
}
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: @md-width;
  padding: 0 10px;
  margin: 0 auto;
  &:after { .clearfix; }
  @media @xl {
    max-width: @xl-width;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.main {
  padding: 13px 0;
  .body-index & {
    padding-bottom: 0;
  }
  @media @xl {
    padding: 35px 0;
  }
}
/* PureCSS styles */
.pure-g {
  font-family: inherit;
  [class *="pure-u"] { font-family: inherit; }
}
.pure-menu-item:before { display: none; }
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}
/* INPUT & TEXTAREA */
input {
  height: 38px;
  padding: 7px 16px;
  font: 300 16px/24px @font-family;
  color: @color-font;
  background: @color-white;
  border-radius: 0;
  border: 1px solid @color-font;
  transition: background-color @duration, border-color @duration;
  -webkit-appearance: none;

  &:focus { }
  .form-line & { width: 100%; }
}
textarea {
  &:extend(input);
  height: 100px;
  display: block;
  resize: none;

  &:focus { }
  .form-line & { width: 100%; }
}
::-webkit-input-placeholder { .color-font(.9); color: @color; }
:-moz-placeholder { .color-font(.9); color: @color; }
::-moz-placeholder { .color-font(.9); color: @color; }
:-ms-input-placeholder { .color-font(.9); color: @color; }
/* BUTTONS */
.button, button, input[type="submit"] {
  height: auto;
  padding: 16px 24px;
  font: 600 16px/18px @font-family;
  display: inline-block;
  color: @color-white;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: none;
  position: relative;
  z-index: 1;

  &:before {
    .before;
    background: @color-red;
    border-bottom: 4px solid @color-red-dark;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .skew(-22deg, 0deg);
    transition: background-color @duration;
    z-index: -1;
  }

  &:hover, &:focus {
    text-decoration: none;
    &:before {
      background-color: @color-red-dark;
    }
  }

  &.button-white {
    &:before {
      background: transparent;
      border: 1px solid @color-white;
    }
    &:hover, &:focus {
      color: @color-font;
      &:before {
        background-color: @color-white;
      }
    }
  }
  &.button-brown {
    &:before {
      background: @color-brown;
      border-bottom-color: @color-brown-dark;
    }
    &:hover, &:focus {
      &:before {
        background-color: @color-brown-dark;
      }
    }
  }
  &.button-yellow {
    &:before {
      background: @color-orange-pastel;
      border-bottom-color: @color-gold;
    }
    &:hover, &:focus {
      &:before {
        background-color: @color-gold;
      }
    }
  }
}
/* FORM LINE */
.form-line {
  margin-bottom: 12px;
  &:after { .clearfix; }
  &.form-line-2-col {
    &:after { .clearfix; }
    .col {
      margin-bottom: 12px;
      &:last-of-type { margin-bottom: 0; }
    }
  }
}
@media @md {
  .button, button, input[type="submit"] {
    padding: 18px 30px;
  }
  .form-line {
    &.form-line-2-col {
      margin-left: -4px;
      margin-right: -4px;
      .col {
        width: 50%;
        margin-bottom: 0;
        padding: 0 4px;
        float: left;
      }
    }
  }
}
@media @xl {
  .button, button, input[type="submit"] {
    font-size: 18px;
  }
}
/* ==========================================================================
   _FORM-SKEW
   ========================================================================== */
.form-skew {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  input, textarea {
    border-color: transparent;
  }
  @media @md {
    .form-area {
      .skew(-22deg, 0deg);
      > * {
        .skew(22deg, 0deg);
      }
    }
    input, textarea {
      background: transparent;
    }
    textarea {
      padding-left: 30px;
      padding-right: 30px;
    }
    .form-line {
      position: relative;
      z-index: 1;
      &:before {
        .before;
        background: @color-white;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .skew(-22deg, 0deg);
        transition: background-color @duration;
        z-index: -1;
      }
      &.form-line-2-col {
        &:before { display: none; }
        .col {
          position: relative;
          &:before {
            .before;
            background: @color-white;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 4px;
            right: 4px;
            .skew(-22deg, 0deg);
            transition: background-color @duration;
            z-index: -1;
          }
        }
      }
    }
  }
  @media @xl {
    max-width: 500px;
    margin: 0;
  }
}
/* ==========================================================================
   _BG
   ========================================================================== */
.bg {
  height: 438px;
  .gradient-x3(@color-mustard-shade1, @color-mustard, @color-mustard-shade2);
  .color-brown(.87);
  box-shadow: inset 0 7px 0 0 @color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  &:before {
    .before;
    height: 34px;
    background: @color-brown;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &:after {
    .before;
    clear: both;
    height: 20px;
    background: url("@{images}/shadow.jpg") 50% 0 no-repeat;
    background-size: auto 100%;
    opacity: .98;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
  }
  .body-index & {
    &:after { display: none; }
  }
  @media @md {
    height: 258px;
    &:after { height: 26px; }
  }
  @media @xl {
    height: 248px;
    &:before {
      right: 80%;
      top: 165px;
      bottom: auto;
    }
    &:after { height: 30px; }
  }
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  height: 438px;
  padding: 37px 0 60px;
  color: @color-white;
  text-align: center;
  position: relative;
  z-index: 100;
  cursor: default;
  .toggle {
    width: 40px;
    height: 20px;
    margin-right: -122px;
    display: block;
    border-top: 4px solid @color-white;
    border-bottom: 4px solid @color-white;
    cursor: pointer;
    position: absolute;
    right: 50%;
    bottom: 7px;
    &:before {
      .before;
      height: 4px;
      background: @color-white;
      position: absolute;
      left: 0;
      right: 0;
      top: 4px;
    }
  }
  .logo {
    width: 249px;
    height: 43px;
    margin: 0 auto 6px;
    img, a {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .slogan {
    margin-bottom: 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .city {
    margin-bottom: 27px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    z-index: 100;
    .h, .s {
      display: inline-block;
      position: relative;
    }
    .link {
      border-bottom: 1px dashed @color-brown;
      position: relative;
      transition: border-color @duration;
      text-decoration: none !important;
      &:hover, &focus { border-bottom-color: transparent; text-decoration: none; }
      &:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: @color-brown transparent transparent transparent;
        margin: auto;
        display: block;
        content: '';
        position: absolute;
        top: 2px;
        bottom: 0;
        right: -14px;
      }
    }
    .dropdown {
      width: 172px;
      padding: 14px 8px 14px 18px;
      display: none;
      position: absolute;
      top: 100%;
      left: -75px;
      background: @color-gray-light;
      box-shadow: 2px 2px 4px -2px @color-black;
      text-align: left;
      .scroll {
        width: 100%;
        max-height: 198px;
        position: relative;
        overflow: hidden;
        overflow-y: auto;
      }
      .list {
        padding: 0 20px 0 0;
        margin: 0;
        list-style: none;
        font-size: 12px;
        line-height: 14px;
        color: @color-font;
        a {
          padding: 2px 0;
          display: block;
          color: @color-font;
          &:hover, &:focus { color: @color-red; text-decoration: none; }
        }
      }
    }
    &.open {
      .dropdown { display: block; }
    }
  }
  .button-order {
    margin-bottom: 21px;
    padding: 18px 30px;
  }
  .tel {
    font-size: 30px;
    line-height: normal;
    display: block;
    color: @color-white;
    cursor: default;
    font-weight: normal;
    .brown {
      color: @color-brown;
    }
    &:hover, &:focus { text-decoration: none; }
  }
  .clock {
    margin-bottom: 18px;
    font-size: 17px;
    font-weight: normal;
  }
  .button-callback {
    padding: 16px 14px 16px 42px;
    .fa {
      font-size: 32px;
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }
  @media @md {
    height: 258px;
    padding-top: 46px;
    text-align: left;
    .toggle {
      margin-right: -319px;
    }
    .wrapper {
      height: 100%;
      position: relative;
    }
    .logo {
      margin: 0;
      position: absolute;
      left: 15px;
      top: 0;
    }
    .slogan {
      position: absolute;
      top: 49px;
      left: 15px;
    }
    .button-order {
      margin: 0;
      position: absolute;
      top: 9px;
      right: 24px;
    }
    .button-callback {
      position: absolute;
      right: 55px;
      top: 101px;
    }
    .tel {
      position: absolute;
      top: 104px;
      left: 12px;
    }
    .city {
      margin: 0;
      position: absolute;
      left: 307px;
      top: 24px;
      z-index: 100;
      .dropdown { left: 2px; }
    }
    .clock {
      margin: 0;
      font-size: 16px;
      position: absolute;
      top: 102px;
      left: 310px;
      .up {
        display: block;
        text-transform: uppercase;
      }
    }
  }
  @media @xl {
    /*height: 248px;*/
    height: 165px;
    margin-bottom: 83px;
    .toggle { display: none; }
    .slogan {
      top: 47px;
    }
    .city {
      left: 348px;
      top: 20px;
      ul {
        li {
          &.active {
            a {
              &:before {
                top: 14px;
              }
            }
          }
        }
      }
    }
    .tel {
      font-size: 32px;
      top: -8px;
      right: 310px;
      left: auto;
    }
    .clock {
      font-size: 18px;
      top: 33px;
      right: 314px;
      left: auto;
      .up {
        text-transform: none;
        display: inline;
      }
    }
    .button-callback {
      padding-right: 20px;
      padding-left: 48px;
      right: 25px;
      top: 3px;
      .fa {
        left: 14px;
      }
    }
    .button-order {
      top: 99px;
      right: 62px;
    }
  }
}
/* ==========================================================================
   _NAV
   ========================================================================== */
.nav {
  display: none;
  position: absolute;
  left: 0;
  top: 438px;
  right: 0;
  z-index: 99;
  color: @color-white;

  .nav-open & {
    display: block;
  }

  &:before {
    .before;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: @color-brown;
    opacity: .87;
  }

  ul {
    padding: 10px 10px 18px;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 5;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: .01em;
    text-align: center;
    text-transform: uppercase;

    li {
      a {
        padding: 5px;
        color: @color-white;
        display: inline-block;
        position: relative;
        &:before {
          height: 1px;
          overflow: hidden;
          display: block;
          content: '';
          position: absolute;
          right: 5px;
          bottom: 2px;
          left: 5px;
          .color-white(.25);
          background: @color;
          transition: opacity @duration;
        }
        &:hover, &:focus {
          text-decoration: none;
          &:before { opacity: 0; }
        }
      }
      &.active {
        a {
          color: @color-mustard;
        }
      }
    }
  }

  @media @md {
    top: 258px;
  }
  @media @xl {
    height: 34px;
    padding-right: 30px;
    margin-left: -600px;
    display: block;
    position: absolute;
    top: 165px;
    left: 50%;
    right: auto;
    &:before {
      height: 34px;
      background: @color-brown;
      .skew(-22deg, 0deg);
      transition: background-color @duration;
      z-index: -1;
      opacity: 1;
    }
    ul {
      height: 34px;
      padding: 0;
      margin: 0 -16px;
      list-style: none;
      position: relative;
      z-index: 1;
      li {
        margin: 0 22px;
        display: inline-block;
        text-transform: uppercase;
        a {
          padding: 6px 10px;
          display: block;
          color: @color-white;
          &:before { display: none; }
          &:hover, &:focus { color: @color-mustard; text-decoration: none; }
        }
        &.active {
          a {
            color: @color-mustard;
          }
        }
      }
    }
  }
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
  margin-top: 48px;
  padding: 10px 0 40px;
  text-align: center;
  .gradient-x3(@color-white-smoke-shade1, @color-white-smoke, @color-white-smoke-shade2);
  position: relative;
  z-index: 1;
  cursor: default;
  .body-index & {
    margin-top: 0;
  }
  &:after {
    .before;
    clear: both;
    height: 20px;
    background: url("@{images}/shadow.jpg") 50% 0 no-repeat;
    background-size: auto 100%;
    opacity: .98;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: -1;
    .rotate(-180deg);
  }
  .contacts {
    margin-bottom: 5px;
    .heading {
      margin-bottom: 18px;
    }
    .line {
      margin-bottom: 14px;
      font-size: 18px;
      .fa {
        margin: 0 5px 0 0;
        font-size: 26px;
        color: @color-gray-medium;
      }
      .mail {
        color: @color-font;
      }
      .tel {
        color: @color-font;
        cursor: default;
        &:hover, &:focus { text-decoration: none; }
      }
    }
    .company-logo {
      width: 249px;
      height: 43px;
      margin: 45px auto 7px;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    .slogan {
      margin: 0;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: normal;
    }
  }
  .links {
    margin-bottom: 5px;
    display: inline-block;
    .heading {
      margin-bottom: 18px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: left;
      font-size: 14px;
      line-height: normal;
      li {
        margin-bottom: 2px;
        padding-left: 18px;
        color: @color-font;
        position: relative;
        &:before {
          .before;
          width: 6px;
          height: 6px;
          background: @color-red;
          position: absolute;
          left: 2px;
          top: 7px;
        }
        a {
          color: @color-font;
        }
      }
    }
  }
  .payment {
    .heading {
      margin-bottom: 12px;
    }
    img {
      width: 311px;
      max-width: 100%;
      height: auto;
      margin: 0 auto 42px;
      display: block;
    }
  }
  .button-order {
    padding: 18px 30px;
  }
  @media @md {
    padding-bottom: 60px;
    padding-top: 24px;
    text-align: left;
    &:after { height: 26px; }
    .wrapper {
      padding-left: 32px;
      padding-right: 32px;
    }
    .heading {
      text-align: left;
    }
    .contacts {
      width: 63%;
      margin-bottom: 42px;
      float: left;
      .heading {
        margin-bottom: 21px;
      }
      .line {
        .fa {
          width: 24px;
          font-size: 24px;
          text-align: center;
        }
      }
      .company-logo {
        margin: 62px 0 7px;
      }
    }
    .payment {
      width: 100%;
      padding-right: 300px;
      clear: both;
      position: relative;
      .heading { margin-bottom: 18px; }
      img { margin: 0; }
    }
    .links {
      width: 37%;
      float: right;
      .heading {
        margin-bottom: 6px;
      }
    }
    .button-order {
      position: absolute;
      bottom: 85px;
      right: 85px;
    }
  }
  @media @xl {
    height: 450px;
    padding-top: 38px;
    padding-bottom: 30px;
    &:before {
      .before;
      width: 1558px;
      height: 382px;
      margin-left: -779px;
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: -1;
      background: url('@{images}/roads/footer.png') 0 0 no-repeat;
      .translate-3d(-13.3%, 0, 0);
    }
    &:after { height: 30px; }
    .wrapper {
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      z-index: 2;
    }
    .contacts {
      width: 37.5%;
      .heading {
        margin-bottom: 26px;
      }
      .line {
        margin-bottom: 11px;
        padding-left: 5px;
      }
      .company-logo {
        margin: 52px 0 4px 1px;
      }
    }
    .links {
      width: 29.5%;
      float: left;
      .heading { margin-bottom: 10px; }
    }
    .payment {
      width: 33%;
      padding-right: 0;
      padding-left: 62px;
      float: left;
      clear: none;
      .heading { margin-bottom: 28px; }
    }
    .button-order {
      bottom: 17px;
      right: 148px;
    }
  }
}
/* ==========================================================================
   _PAGE-TESTIMONIALS
   ========================================================================== */
.page-testimonials {
  text-align: center;
  .list {
    .entry {
      margin-bottom: 55px;
      &:last-of-type { margin-bottom: 44px; }
      .name {
        margin: 0 0 13px;
        color: @color-brown;
        font-weight: bold;
        font-size: 18px;
        .time {
          font-weight: normal;
          color: @color-font;
        }
      }
      .comment {
        padding: 16px 16px 20px;
        line-height: 24px;
        background: @color-white-smoke-shade1;
        position: relative;
        text-align: left;
        &:before {
          .before;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 40px 34px 0;
          border-color: transparent @color-white-smoke-shade1 transparent transparent;
          position: absolute;
          top: 100%;
          right: 41px;
        }
        p {
          &:last-of-type { margin-bottom: 0; }
        }
      }
    }
  }
  @media @md {
    text-align: left;
    .list {
      margin-top: 36px;
      .entry {
        margin-bottom: 58px;
        .name {
          margin-bottom: 20px;
          text-align: left;
        }
        .comment {
          padding: 24px;
          &:before { right: 80px; }
        }
      }
    }
  }
  @media @xl {
    text-align: left;
    .list {
      margin-top: 40px;
      .entry {
        margin-bottom: 66px;
        &:last-of-type { margin-bottom: 54px; }
        .comment {
          padding: 28px 36px 34px;
          &:before { right: 180px; }
        }
      }
    }
  }
}
/* ==========================================================================
   _SERVICES
   ========================================================================== */
.services {
  text-align: center;
  .list {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    &:after { .clearfix; }
    .pure-g {
      margin-left: -10px;
      margin-right: -10px;
      [class*="pure-u"] {
        &:nth-of-type(odd) {
          padding-right: 1px;
        }
      }
    }
    .entry {
      min-height: 378px;
      margin-bottom: 1px;
      padding: 10px;
      background: @color-gray-light;
      .image {
        margin: -10px -10px 14px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .title {
        margin: 0 0 8px 0;
        font-size: 16px;
        line-height: 20px;
        color: @color-brown;
        font-weight: 600;
      }
      p:last-of-type { margin-bottom: 0; }
    }
  }
  @media @xxs {
    .list {
      font-size: 14px;
      .entry {
        padding: 14px;
        .image {
          margin: -14px -14px 14px;
        }
      }
    }
  }
  @media @sm {
    .list {
      .pure-g {
        margin-left: 0;
        margin-right: -2px;
        [class*="pure-u"], [class*="pure-u"]:nth-of-type(odd) {
          padding-right: 1px;
        }
      }
    }
  }
  @media @md {
    .list {
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      .entry {
        min-height: 424px;
        padding: 16px;
        .title {
          margin-bottom: 14px;
          font-size: 18px;
          line-height: 24px;
        }
        .image {
          margin: -16px -16px 26px;
        }
      }
    }
  }
  @media @xl {
    text-align: left;
    .list {
      .pure-g {
        margin-left: -3px;
        margin-right: -3px;
        [class*="pure-u"], [class*="pure-u"]:nth-of-type(odd) {
          padding: 0 3px;
        }
      }
      .entry {
        min-height: 444px;
        margin-bottom: 6px;
        padding: 30px;
        .image {
          margin: -30px -30px 24px;
        }
      }
    }
  }
}
/* ==========================================================================
   _CONTACT-US
   ========================================================================== */
.contact-us {
  text-align: center;

  .space {
    padding: 32px 0 44px;
    .gradient-x3(@color-white-smoke-shade1, @color-white-smoke, @color-platinum);
  }
  .list {
    margin: 0 0 40px;
    dt {
      display: inline;
      &:before { .before; height: 30px; }
      &:first-of-type {
        &:before { height: 0; }
      }
      .fa {
        width: 42px;
        height: 42px;
        margin: 0 auto 13px;
        padding: 9px 0;
        display: block;
        background: @color-brown;
        border-radius: 50%;
        color: @color-mustard;
        font-size: 26px;
        text-align: center;
        &.fa-envelope { font-size: 22px; }
      }
    }
    dd {
      margin-left: 0;
      display: inline;
      font-weight: bold;
    }
    .tel, .mail {
      color: @color-font;
      white-space: nowrap;
    }
    .tel {
      cursor: default;
      &:hover, &:focus { text-decoration: none; }
    }
  }
  .form-ask {
    margin-left: -10px;
    margin-right: -10px;
    .form-submit {
      margin-top: 26px;
      .button {
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }
  @media @xxs {
    .list { padding: 0 20px; }
  }
  @media @xs {
    .form-ask {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media @md {
    .list {
      padding: 0;
      font-size: 18px;
      dt {
        .fa {
          margin-bottom: 10px;
        }
      }
    }
    .form-ask {
      &.form-skew {
          .form-area {
            position: relative;
            right: 24px;
          }
      }
      .form-submit {
        margin-top: 0;
        .button {
          width: 100%;
          display: block;
          font-size: 18px;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }
  }
  @media @xl {
    text-align: left;
    .space {
      padding: 43px 0;
    }
    .list {
      margin-top: 34px;
      dt, dd {
        min-height: 42px;
        margin-bottom: 26px;
        padding: 5px;
        display: block;
      }
      dt {
        padding-left: 56px;
        float: left;
        clear: left;
        position: relative;
        &:before { display: none; }
        .fa {
          margin: 0;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .form-ask {
      padding-left: 105px;
      &.form-skew {
        .form-area {
          right: 10px;
        }
      }
    }
  }
}
/* ==========================================================================
   _MAP
   ========================================================================== */
.map {
  height: 440px;
  margin-bottom: -61px;
  &:before {
    .before;
    height: 20px;
    background: url("@{images}/shadow.jpg") 50% 0 no-repeat;
    background-size: auto 100%;
    opacity: .98;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }
  @media @md {
    height: 400px;
    &:after { height: 26px; }
  }
  @media @xl {
    height: 540px;
    margin-bottom: -80px;
    &:after { height: 30px; }
  }
}
/* ==========================================================================
   _INDEX
   ========================================================================== */
.index {
  padding: 34px 0 50px;
  .gradient-x3(@color-mustard-shade1, @color-mustard, @color-mustard-shade2);
  position: relative;
  z-index: 1;
  &:after {
    .before;
    clear: both;
    height: 20px;
    background: url("@{images}/shadow.jpg") 50% 0 no-repeat;
    background-size: auto 100%;
    opacity: .98;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
  }
  .buses-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      margin-bottom: 34px;
      color: @color-brown;
      &:nth-child(even) { color: @color-white; }
      &:last-child { margin-bottom: 0; }
      .image {
        margin-bottom: 3px;
        img {
          width: 240px;
          height: auto;
          margin: 0 auto;
          display: block;
        }
      }
      .name {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
      }
      .seats {
        margin: 0;
        font-size: 22px;
        line-height: 26px;
        font-weight: normal;
        .number {
          display: block;
          font-size: 35px;
          font-weight: 600;
        }
      }
    }
  }
  @media @md {
    padding: 24px 0;
    &:after { height: 26px; }
    .wrapper {
      overflow: hidden;
    }
    .buses-list {
      margin: 0 -55px;
      li {
        width: 32%;
        display: inline-block;
        vertical-align: bottom;
        &:nth-child(4) { width: 35%; vertical-align: top; }
        &:nth-child(5) { width: 39%; vertical-align: top; }
        .image {
          margin-bottom: 8px;
        }
        .name {
          margin-bottom: 12px;
        }
        .seats {
          font-size: 28px;
          line-height: normal;
          .number {
            font-size: 40px;
            line-height: 27px;
          }
        }
      }
    }
  }
  @media @xl {
    padding: 20px 0;
    &:before {
      .before;
      background: url('@{images}/roads/index.png') 0 50% no-repeat;
      background-size: 1874px 579px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
    }
    &:after { height: 30px; }
    .buses-list {
      margin: 0;
      li {
        width: 20%;
        float: left;
        display: block;
        &:nth-child(4), &:nth-child(5) { width: 20%; }
        .image {
          height: 146px;
          margin-bottom: 18px;
          position: relative;
          img {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
        .name {
          margin-bottom: 20px;
          font-size: 24px;
        }
        .seats {
          font-size: 32px;
          .number {
            font-size: 48px;
            line-height: 33px;
          }
        }
        &:nth-child(even) {
          margin-top: 108px;
          padding-bottom: 164px;
          position: relative;
          .image {
            margin: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            img {
              top: 0;
              margin: auto auto;
            }
          }
        }
      }
    }
  }
}
/* ==========================================================================
   _CATALOG
   ========================================================================== */
.catalog {
  .list {
    margin: 0 -10px;
    .item {
      max-width: 375px;
      margin: 0 auto 1px;
      &:nth-of-type(n+3) { display: none; }
      .space {
        padding: 30px 26px 45px;
        background: @color-gray-light;
      }
      .name {
        margin-bottom: 14px;
        font-size: 24px;
        line-height: normal;
        color: @color-brown;
        text-align: center;
        font-weight: normal;
      }
      .image {
        margin: 0 0 32px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .info {
        margin: 0 -10px 26px 0;
        font-size: 17px;
        dt {
          min-height: 30px;
          margin-right: 2px;
          padding: 4px 0 4px 34px;
          float: left;
          clear: left;
          position: relative;
          .icon {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        dd {
          min-height: 30px;
          margin-bottom: 6px;
          padding: 4px 0;
          font-weight: bold;
        }
        .number {
          width: 38px;
          height: 38px;
          margin: -10px 0 -10px 6px;
          padding: 7px;
          background: @color-mustard;
          border-radius: 50%;
          text-align: center;
          display: inline-block;
          color: @color-white;
        }
        .price { white-space: nowrap; }
      }
      .bottom {
        text-align: center;
        .button {
          width: 45%;
          margin: 0 3px;
          padding: 9px;
          font-size: 15px;
        }
      }
    }
  }
  .more {
    display: none;
    font-size: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  @media @md {
    padding-top: 16px;
    padding-bottom: 48px;
    .list {
      margin: 0 -1px 18px;
      &:after { .clearfix; }
      .item {
        width: 50%;
        max-width: none;
        padding: 0 1px;
        float: left;
        &:nth-of-type(n+3) { display: block; }
        &:nth-of-type(n+5) { display: none; }
        &:nth-of-type(even) { margin-left: -1px; }
        &:nth-of-type(2n+1) { clear: left; }
        .name { text-align: left; }
      }
    }
    .more { display: inline-block; }
    &.catalog-similar {
      padding-bottom: 0;
      .list {
        .item {
          &:nth-of-type(n+5) { display: block; }
          &:nth-of-type(n+3) { display: none; }
        }
      }
    }
  }
  @media @xl {
    margin-bottom: 80px;
    padding: 0;
    .list {
      margin: 40px -3px 25px;
      &:after { .clearfix; }
      .item {
        width: 33.3%;
        margin-bottom: 6px;
        padding: 0 3px;
        &:nth-of-type(n+5) { display: block; }
        &:nth-of-type(even) { margin-left: 0; }
        &:nth-of-type(2n+1) { clear: none; }
        &:nth-of-type(3n+1) { clear: left; }
        .space { padding: 32px 20px 50px; }
        .name { font-size: 26px; }
        .info {
          font-size: 18px;
          dt {
            margin-right: 4px;
            padding-left: 40px;
          }
          dd { margin-bottom: 4px; }
          .number {
            width: 42px;
            height: 42px;
            margin-left: 4px;
          }
        }
        .bottom {
          .button {
            font-size: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
    .more {
      padding-top: 18px;
      padding-bottom: 18px;
      font-size: 18px;
    }
    &.catalog-similar {
      margin-bottom: 0;
      .list {
        .item {
          &:nth-of-type(n+3) { display: block; }
          &:nth-last-of-type(-n+3) { margin-bottom: 0; }
        }
      }
    }
  }
}
/* ==========================================================================
   _FEATURES
   ========================================================================== */
.features {
  padding: 32px 0 54px;
  .gradient-x3(@color-chocolate-shade1, @color-chocolate, @color-chocolate-shade2);
  color: @color-white;
  position: relative;
  z-index: 10;
  &:after {
    .before;
    clear: both;
    height: 20px;
    background: url("@{images}/shadow.jpg") 50% 0 no-repeat;
    background-size: auto 100%;
    opacity: .98;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
  }
  .heading {
    margin-top: 0;
    margin-bottom: 26px;
  }
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
    &:after { .clearfix; }
    li {
      margin-bottom: 28px;
      padding-left: 88px;
      position: relative;
      &:last-of-type {
        margin-bottom: 0;
      }
      p:last-of-type { margin-bottom: 0; }
      .icon {
        width: 75px;
        height: 75px;
        position: absolute;
        left: 0;
        top: 0;
      }
      .h {
        margin-bottom: 6px;
        color: @color-orange;
        font-size: 21px;
        line-height: normal;
      }
    }
  }
  @media @md {
    padding: 47px 0;
    &:after {
      height: 26px;
    }
    .list {
      margin-left: -15px;
      margin-right: -15px;
      li {
        width: 50%;
        margin-bottom: 16px;
        padding-right: 15px;
        padding-left: 103px;
        float: left;
        .h {
          font-size: 22px;
        }
        .icon {
          left: 15px;
        }
      }
    }
  }
  @media @xl {
    padding: 60px 0 40px;
    &:before {
      .before;
      background: url('@{images}/roads/features.png') 0 0 no-repeat;
      background-size: 1638px 568px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
    }
    &:after {
      height: 30px;
    }
    .list {
      margin-top: 40px;
      line-height: 24px;
      li {
        width: 52%;
        margin-bottom: 58px;
        padding-left: 160px;
        padding-right: 30px;
        &:nth-child(even) { width: 48%; }
        .h {
          margin-bottom: 16px;
          font-size: 30px;
        }
        .icon {
          width: 134px;
          height: 134px;
        }
      }
    }
  }
}
/* ==========================================================================
   _ABOUT
   ========================================================================== */
.about {
  padding: 14px 0;
  @media @md {
    padding: 28px 0;
  }
  @media @xl {
    padding: 34px 0;
  }
}
/* ==========================================================================
   _TESTIMONIALS
   ========================================================================== */
.testimonials {
  margin: 0 -10px;
  padding: 8px 10px 48px;
  background: @color-orange-pastel;
  color: @color-white;
  .heading {
    margin-bottom: 16px;
  }
  .list {
    margin-bottom: 60px;
    .entry {
      margin-bottom: 46px;
      &:last-of-type { margin-bottom: 0; }
      .name {
        margin: 0 0 10px;
        color: @color-brown;
        font-weight: 600;
        font-size: 18px;
        text-align: left;
      }
      .comment {
        padding: 16px 20px 12px;
        font-size: 14px;
        line-height: 19px;
        background: @color-white;
        color: @color-font;
        position: relative;
        font-weight: normal;
        border-bottom: 4px solid @color-gold;
        &:before, &:after {
          .before;
          clear: both;
          width: 0;
          height: 0;
          border-style: solid;
          position: absolute;
          top: 100%;
          right: 46px;
        }
        &:before {
          border-width: 0 42px 38px 0;
          border-color: transparent @color-gold transparent transparent;
          right: 47px;
          z-index: 1;
        }
        &:after {
          border-width: 0 37px 34px 0;
          border-color: transparent @color-white transparent transparent;
          z-index: 2;
        }
        p {
          &:last-of-type { margin-bottom: 0; }
        }
      }
    }
  }
  .buttons {
    text-align: center;
    .button {
      margin: 0 10px 10px;
      padding: 10px;
      font-size: 15px;
      display: block;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  @media @xxs {
    .buttons {
      .button {
        width: 45%;
        margin: 0 3px;
        display: inline-block;
      }
    }
  }
  @media @md {
    padding-top: 22px;
    padding-bottom: 68px;
    .heading {
      margin-bottom: 26px;
    }
    .list {
      margin-bottom: 36px;
      .entry {
        .name {
          margin-bottom: 15px;
        }
        .comment {
          padding: 22px 16px;
          &:before { right: 65px; }
          &:after { right: 64px; }
        }
      }
    }
    .buttons {
      .button {
        width: auto;
        margin: 0 10px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  @media @xl {
    margin: 0 0 0 45px;
    padding: 50px 42px 60px;
    .heading {
      margin-bottom: 34px;
      line-height: 32px;
      span {
        font-size: 30px;
      }
    }
    .list {
      margin-bottom: 75px;
      .entry {
        margin-bottom: 52px;
        .name {
          margin-bottom: 12px;
        }
        .comment {
          padding: 18px 22px;
          &:before { right: 48px; }
          &:after { right: 47px; }
        }
      }
    }
    .buttons {
      margin: 0 -20px;
      .button {
        width: 45%;
        margin: 0 3px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
      }
    }
  }
}
/* ==========================================================================
   _BLOCK-ITEM
   ========================================================================== */
.block-item {
  .picture {
    max-width: 620px;
    margin: 0 auto 25px;
    .slider-for {
      height: 225px;
      margin: 0 0 1px 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      &:after { .clearfix; }
      &.slick-initialized {
        height: auto;
        overflow: visible;
      }
      li {

        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .slider-nav {
      height: 75px;
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      &:after { .clearfix; }
      &.slick-initialized {
        height: auto;
        overflow: visible;
      }
      li {
        width: 33.3%;
        padding: 0 1px 0 0;
        float: left;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .info {
    margin: 0 -10px 26px;
    padding: 27px 10px;
    background: @color-gray-light;
    .area {
      max-width: 620px;
      margin: 0 auto;
    }
    .title {
      margin-top: 0;
      font-size: 25px;
      line-height: normal;
      color: @color-brown;
      font-weight: normal;
    }
    .h {
      font-weight: 600;
    }
    .list {
      margin: 0 0 26px 0;
      font-size: 18px;
      text-align: center;
      dt {
        display: inline;
        &:before { .before; height: 7px; }
        &:first-of-type {
          &:before { height: 0; }
        }
        .icon {
          width: 30px;
          height: 30px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      dd {
        margin: 0;
        font-weight: bold;
        display: inline;
      }
      .number {
        width: 38px;
        height: 38px;
        margin: 0 0 0 6px;
        padding: 7px;
        background: @color-mustard;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        color: @color-white;
      }
      .price { white-space: nowrap; }
    }
    .button-order {
      margin-bottom: 34px;
      font-size: 18px;
    }
    .text {
      height: 304px;
      padding-right: 30px;
      line-height: 24px;
      overflow-y: scroll;
      position: relative;
      p {
        margin-bottom: 12px;
        &:last-of-type { margin-bottom: 0; }
      }
    }
  }
  @media @md {
    .picture {
      margin-bottom: 42px;
    }
    .info {
      margin-left: 0;
      margin-right: 0;
      padding: 40px 0;
      .title {
        text-align: left;
        font-size: 30px;
      }
      .h {
        margin-bottom: 14px;
      }
      .list {
        max-width: 320px;
        margin-bottom: 0;
        text-align: left;
        dt {
          .icon {
            margin-right: 6px;
          }
        }
      }
      .button-order {
        margin: 0 0 -10px 0;
        padding: 15px 30px;
        font-size: 18px;
        position: relative;
        top: -58px;
        right: -106px;
      }
      .text {
        height: 218px;
      }
    }
  }
  @media @xl {
    margin-bottom: 60px;
    background: @color-gray-light;
    .picture {
      width: 53%;
      margin: 0;
      float: left;
    }
    .info {
      width: 43%;
      margin-bottom: 0;
      padding-top: 45px;
      padding-bottom: 0;
      float: right;
      background: transparent;
      .title {
        margin-bottom: 18px;
      }
      .h {
        margin-bottom: 10px;
        font-size: 16px;
      }
      .text {
        height: 234px;
        font-size: 16px;
      }
      .button-order {
        margin-bottom: 0;
        right: -162px;
      }
    }
  }
}
/* ==========================================================================
   _SCROLLBAR
   ========================================================================== */
.ps-container {
  > .ps-scrollbar-y-rail {
    width: 19px !important;
    right: 0 !important;
    opacity: 1 !important;

    &:before {
      width: 1px;
      display: block;
      content: '';
      overflow: hidden;
      position: absolute;
      top: 9px;
      right: 9px;
      bottom: 9px;
      z-index: 1;
      background: @color-font;
    }

    > .ps-scrollbar-y {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      right: 1px;
      background: @color-white;
      box-shadow: 1px 1px 1px -1px #000;
      z-index: 5;
    }
  }
}
/* ==========================================================================
   _POPUP
   ========================================================================== */
.mfp-container {
  padding: 20px;
}
.mfp-bg {
  .color-brown(.81);
  background: @color;
}
/*
====== Fade effect ======
*/
/* overlay at start */
.mfp-fade {
  &.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;

    &.mfp-ready { opacity: 0.7; }
    &.mfp-removing { opacity: 0; }
  }

  &.mfp-wrap {
    .mfp-content {
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-out;
      -moz-transition: opacity 0.4s ease-out;
      -ms-transition: opacity 0.4s ease-out;
      -o-transition: opacity 0.4s ease-out;
      transition: opacity 0.4s ease-out;
    }

    &.mfp-ready {
      .mfp-content { opacity: 1; }
    }

    &.mfp-removing {
      .mfp-content { opacity: 0; }
    }
  }
}
.mfp-close {
  width: 30px;
  height: 30px;
  opacity: 1;
  right: 10px;
  top: 10px;
  overflow: hidden;
  text-indent: -1000px;

  &:before, &:after {
    .before;
    clear: both;
    width: 2px;
    height: 30px;
    background: @color-font;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
  }

  &:before { .rotate(45deg); }
  &:after { .rotate(-45deg); }

  &:active { top: 10px; }
  @media @xl {
    top: 12px;
    right: 15px;
    &:active { top: 12px; }
  }
}
.popup {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 10px;
  background: @color-white-smoke-shade3;
  position: relative;
  .heading {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: normal;
    text-align: center;
  }
  .form {
    &.form-skew {
      max-width: none;
      margin-left: -10px;
      margin-right: -10px;
    }
    .form-submit {
      margin-top: 28px;
      text-align: center;
      .button {
        min-width: 204px;
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }
  @media @md {
    padding: 54px 20px 80px;
    .heading {
      margin-bottom: 26px;
      font-size: 44px;
    }
    .form {
      &.form-skew {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        .form-line {
          &.form-line-2-col {
            margin-left: -10px;
            margin-right: -10px;
            .col {
              padding: 0 10px;
              &:before {
                right: 10px;
                left: 10px;
              }
            }
          }
        }
      }
      .form-submit {
        margin-top: 24px;
        .button {
          min-width: 350px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    &.popup-order {
      background-image: url("@{images}/temp/bus.png");
      background-position: 93% 84%;
      background-repeat: no-repeat;
      background-size: 206px 129px;
      .form {
        &.form-skew {
          max-width: 340px;
          position: relative;
          left: -70px;
        }
        .form-line { margin-bottom: 18px; }
        textarea { height: 124px; }
        .form-submit { margin-top: 0;}
      }
    }
  }
  @media @xl {
    max-width: 784px;
    padding: 60px 20px 90px;
    .heading {
      margin-bottom: 32px;
      font-size: 49px;
    }
    .form {
      &.form-skew {
        max-width: 620px;
      }
      .form-submit {
        .button {
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }
    &.popup-order {
      background-size: 234px 146px;
        .form {
          &.form-skew {
            max-width: 400px;
            left: -80px;
          }
          textarea { height: 150px; }
          .form-submit {
            .button {
              width: 100%;
              display: block;
            }
          }
        }
    }
  }
}